/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
a{background-color:transparent}a:active,a:hover{outline-width:0}
button,input{font:inherit;margin:0}
button,input{overflow:visible}button{text-transform:none}
button{-webkit-appearance:button}
button::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring{outline:1px dotted ButtonText}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}
h1{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}a{color:inherit}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-button:disabled{cursor:not-allowed;opacity:0.3}:disabled *{pointer-events:none}
.w3-ripple:active{opacity:0.5}.w3-ripple{transition:opacity 0s}
.w3-bar{width:100%;overflow:hidden}
.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}.w3-center{text-align:center!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
/* Colors */
.w3-blue{color:#fff!important;background-color:#2196F3!important}
.w3-green{color:#fff!important;background-color:#4CAF50!important}
.w3-red{color:#fff!important;background-color:#f44336!important}
.w3-yellow{color:#000!important;background-color:#ffeb3b!important}
  
  /* The slider itself */
  
  /* Mouse-over effects */
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

  .sensor {
    color: white;
    font-weight: bold;
    background-color: #bcbcbc;
    padding: 8px;
  }

  .sensorHumidité {
    color: white;
    font-weight: bold;
    background-color: skyblue;
    padding: 8px;
  }

  .sensorTempérature {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 8px;
  }

  body {
    text-align: center;
    font-family: "Trebuchet MS", Arial;
  }

  table {
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  th {
    padding: 16px;
    background-color: #0043af;
    color: white;
  }

  tr {
    border: 1px solid #ddd;
    padding: 16px;
  }

  tr:hover {
    background-color: #bcbcbc;
  }

  td {
    border: none;
    padding: 16px;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }